.Bg {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    margin-top: 150px;
    border-radius: 8px;
    box-shadow: 1px 1px 10px black;
    background-color: #222A34;
}

.header {
    display: flex;
    justify-content: space-between; 
}

.header_text {
    color: white;
    margin: 25px;
    font-family: 'Aduma';
}

.header_btn {
    margin: 25px;
    background-image: url('assets/Upload.png');
    background-repeat: no-repeat;
    background-color: #475366;
    background-position: 10px;
    border: none;
    border-radius: 8px;
    height: 30px;
    width: 110px;
    padding-left: 29px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    font-family: 'Aduma';
}